<div class="container" [ngClass]="winner ? 'display-none' : ''">
  <h1>Jogo da Velha</h1>
  <div>
    <p>Jogador atual: <span class="player">{{ currentPlayer }}</span></p>
  </div>
  <table>
    <tbody>
      <tr *ngFor="let row of [0,1,2]">
        <td *ngFor="let col of [0,1,2]" (click)="processPlay(row,col)">{{ board[row][col] }}</td>
    </tbody>
  </table>

</div>
<div *ngIf="winner" [ngClass]="winner ? 'finish-game' : ''">
  <p>Vencedor: {{ winner }}</p>
  <button (click)="restart()">Reiniciar</button>
</div>