<div class="container" [ngClass]="winner ? 'display-none' : ''">
  <h1>Jogo da Velha</h1>
  <div>
    <p>Jogador atual: <span class="player">{{ currentPlayer }}</span></p>
  </div>
  <table>
    <tbody>
      <tr>
        <td (click)="processPlay(0,0)">{{ board[0][0] }}</td>
        <td (click)="processPlay(0,1)">{{ board[0][1] }}</td>
        <td (click)="processPlay(0,2)">{{ board[0][2] }}</td>
      </tr>
      <tr>
        <td (click)="processPlay(1,0)">{{ board[1][0] }}</td>
        <td (click)="processPlay(1,1)">{{ board[1][1] }}</td>
        <td (click)="processPlay(1,2)">{{ board[1][2] }}</td>
      </tr>
      <tr>
        <td (click)="processPlay(2,0)">{{ board[2][0] }}</td>
        <td (click)="processPlay(2,1)">{{ board[2][1] }}</td>
        <td (click)="processPlay(2,2)">{{ board[2][2] }}</td>
      </tr>
    </tbody>
  </table>

</div>
<div *ngIf="winner" [ngClass]="winner ? 'finish-game' : ''">
  <p>Vencedor: {{ winner }}</p>
  <button (click)="restart()">Reiniciar</button>
</div>